<div class="container">
  <div class="row">
    <div class="col col-md-6 col-sm-12 col-xs-12">
      <h2>About Us</h2>
      <p>
        We are a small contractor with particular expertise in pavements and landscaping. The services we provide include but are not limited to:</p>
        <ul>
          <li>Concrete Paving</li>
          <li>Tarmac Driveways</li>
          <li>Hedge Trimming</li>
          <li>Border Treatments</li>
          <li>Raised bedding</li>
        </ul>        
      <p>We are based in the Blanchardstown area but typically serve the Greater Dublin Area and the surrounding counties. Our contact details are shown below. 
        If you wish to make an enquiry or request a free quote, please do not hesitate to get in touch via the contact details below or complete the form on our 
        <a routerLink="/contact">contact page</a> and we will get back to you as soon as possible. No job is too small.
      </p>
      <p><strong>Phone Number: </strong>+353 1 123 4567</p>
      <p><strong>Email: </strong>test@test.com</p>
    </div>
    <div class="col col-md-6 col-sm-12 col-xs-12">
      <img class="full-width" src="/assets/images/TNblackrock1-garden-3.jpg" alt="">
    </div>  
  </div>
</div>