<div class="container">
  <div class="row">
    <div class="col col-md-6 col-sm-12 col-xs-12">
      <form>
        <div class="row">
          <div class="col col-xs-12">
            <label for="name">Name:</label>
            <input id="name" type="text" class="form-control">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col col-xs-12">
            <label for="email">Email:</label>
            <input id="email" type="email" class="form-control">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col col-xs-12">
            <label for="phone">Phone:</label>
            <input id="phone" type="text" class="form-control">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col col-xs-12">
            <label for="query">Query:</label>
            <textarea class="form-control" name="query" id="query" rows="10"></textarea>
          </div>
        </div>
        <br>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col col-md-6 col-sm-12 col-xs-12">
      <h2>Area Covered</h2>
      <p>
        We serve anywhere within the Greater Dublin Area and the surrounding counties. Our contact details are shown below. If you wish to make an enquiry or request a free quote, please do not hesitate to get in touch.
      </p>
      <p><strong>Address: </strong>Blanchardstown, Dublin 15</p>
      <p><strong>Phone Number: </strong>+353 1 123 4567</p>
    </div>  
  </div>
</div>
