<div class="container">
    <div class="jumbotron">
        <h1>Blue Hills Paving & Landscaping</h1>
    </div>        
    <div class="row">
        <div class="col col-xs-12">
            <img class="full-width" src="/assets/images/cropped-preston.png" alt=""> 
        </div>
    </div>
    
    <div class="row">
        <div class="col col-md-4 col-sm-12 col-xs-12 text-center">
            
            <div class="media">
                <div class="media-object"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
                <p>Come find out about us and what we do</p>
                <a routerLink="/about" class="btn btn-default">About</a>
            </div>   
        </div>
        <div class="col col-md-4 col-sm-12 col-xs-12 text-center">
            <div class="media">
                <div class="media-object"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></div>
                <p>Take a look at some of the previous projects we've worked on</p>
                <a routerLink="/projects" class="btn btn-default">Projects</a>
            </div>                  
        </div>
        <div class="col col-md-4 col-sm-12 col-xs-12 text-center">
            <div class="media">
                <div class="media-object"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></div>
                <p>If you want to come talk to us or ask for a quote...</p>
                <a routerLink="/contact" class="btn btn-default">Contact Us</a>
            </div>                    
        </div>
    </div>
</div>
